<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MoviesWebAPI">
<head>
    <title></title>
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/services/fortuneCookie.js"></script>
    <script src="~/ngApp/controllers/genreController.js"></script>
    <script src="~/ngApp/controllers/nameController.js"></script> 
    <script src="~/ngApp/controllers/fortuneController.js"></script>
</head>
<body class="container">
    <ng-view></ng-view>
</body>
</html>